html, body {
    margin: 0;
    padding: 0;
    font-family: 'Uni Sans Thin', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
}

@font-face {
  font-family: 'Uni Sans Thin';
  src: url('fonts/Uni Sans Thin.otf') format("opentype");
}
@font-face {
  font-family: 'Uni Sans Heavy';
  src: url('fonts/Uni Sans Heavy.otf') format("opentype");
}

.image {
    font-size: 24px;

}

.image {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
    display: block;
    z-index: 1;
    position: relative;
}
.image:after {
    display: block;
    content: " ";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    position: absolute;
    box-sizing: border-box;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
}

/* Row 2 */

#row2 {
    background: white;
    width: 100%;
    height: 250px;
    box-sizing: border-box;
}

.text {
    box-sizing: border-box;
    padding: 10px 0;
    width: 400px;
    margin: 0 auto;
    height: 100%;
}

#brand {
    font-size: 40px;
    display: block;
    text-transform: uppercase;
}

#tagline {
    font-size: 20px;
    color: #888;
}

#links {
    display: block;
    font-size: 20px;
    color: #555;
    text-align: center;
    width: 100%;
    position: relative;
    bottom: -70px;
}

#links a {
    color: #aaa;
    margin: 0 10px;
    cursor: pointer;
}

.image {
    width: calc(100% / 3);
    height: 100%;
    float: left;
}

.text {
    padding: 30px;
    box-sizing: border-box;
    width: calc(100% / 3);
    height: 100%;
    float: left;
    color: #aaa;
    background: black;
}

.image span.label {
    display: block;
    padding: 4px 2px 0px 2px;
    background: rgba(0,0,0,0.5);
    color: white;
}

/* End */

#row1, #row3 {
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    height: calc((100% - 250px) / 2);
    background: brown;
}